.jumbotron{
    background-image: url("../img/pizza.png");
    height:346px;
    background-size: cover;
}
.btn-primary{
    width:20%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
