header {
    padding:5px;
    text-align:left;
    background: #5A5A5A;
    color: white;
    font-size: 14px;
}
ul{
    display:inline;
}
h3{
    display:inline;
}
nav{
    padding:5px;
    text-align: left;
    background: #D3D3D3;
    color: black;
}
table{
    text-align: left;
    border:.5px solid;
    border-collapse:collapse;
    width:100%;
}
th{
    background:#D3D3D3;
}
a:link{
    color:#000000;
}
a:hover {
    color:#0000ff;
}