.fancy-header{
    color:#bf3073;
    text-decoration:underline;

    text-align: center;
}
h2{
    color:#86c5f7;
    text-decoration:underline;
}

body{
    background-image: url(../img/geographicbackground.jpeg);
    font-family:cursive;
    background-size: cover;
}
ul{
    list-style: square;
    color: white;
}
ol{
    list-style: upper-alpha;
    color: white;
}
image{
    background-color: white;
}
table,td,tr{
    font-size: 20px;
    padding:20px;
    color: white;

}
p{
    color:white;
    text-align: center;
}
a:link{
    color: #86c5f7;
}
a:visited{
    color:#bf3073;
}
a:hover{
    color:white;
}
a:active{
    color:white;
}